alembic
beautifulsoup4
black
Click
fake-useragent
flake8
Flask
Flask-Migrate
Flask-SQLAlchemy
gunicorn
isort
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2
python-dateutil
python-dotenv
python-editor
selenium
six
SQLAlchemy
Werkzeug
