alembic
black
Click
flake8
Flask
Flask-Migrate
Flask-SQLAlchemy
GeoAlchemy2
gunicorn
isort
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2
python-dateutil
python-dotenv
python-editor
six
SQLAlchemy
Werkzeug
